/* main */
.card-body h1 {
  font-size: 20px;
  color: #000;
  padding: 10px 0;
}

.row .judul {
  margin-top: 15px;
}

main {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.chart-container {
  width: 500px;
  height: 500px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
}

canvas {
  border: 1px solid #fff;
  border-radius: 8px;
}
